html { overflow-x: hidden !important; }
body { margin: 0; font-family: Helvetica, Arial, sans-serif; }
div, section, article, input, textarea, select, img { box-sizing: border-box; }
nav { display: flex; align-items: center; align-items: center; width: 100%; justify-content: center; }
nav li { list-style: none; padding: 0 1em; }
nav a { text-decoration: none; }
header nav a { color: white; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { margin: 0; font-family: 'Oswald', sans-serif; font-weight: 300; }
h1 { font-size: 4em; }
h2 { font-size: 3em; margin-bottom: .5em; }
h3 { font-size:2em; }
li { line-height: 1.5em !important; margin-bottom: 1em; }
p { overflow: hidden; line-height: 1.75em; }
p img.pull-left { margin: 0 2em 2em 0; }
p img.pull-right { margin: 0 0 2em 2em; }
strong { color: rgb(58,182,118); font-weight: normal; }
input { width: 100%; padding: 1em 1.5em; max-width: 350px; margin-bottom: 1em; }
textarea { width: 100%; padding: 1em 1.5em; font-family: Helvetica, Arial, sans-serif; margin-bottom: 1em; }
a { color: rgb(58,182,118); }
footer { padding: 2.5%; text-align: center; color: gray; }

#header { background: rgb(58,182,118); color: white; padding: 1em 2em; display: flex; color: white; position: relative; z-index: 1; box-shadow: 0 0 20px rgba(0,0,0,.18); }
#header .logo img { width: 200px; }
#header .phone { width: 250px; text-align: right; display: flex; align-items: center; justify-content: flex-end; }
#nav { display: none; background: rgb(64,64,64); flex-direction: column; padding: 1em 0; }
#nav a { color: white; }
#nav li { padding: .5em 0; }
#copyright { font-size: 10pt; opacity: .5; }
#phone-small-screen { display: none; background: rgb(64,64,64); padding: 1em; color: white; text-align: center; }

.alert { padding: 1em 1.5em; border: 1px solid; }
.alert.success { background: rgba(0,255,0,.1); border-color: rgba(0,255,0,.3); }
.align-center { text-align: center; }
.button { background: none; padding: 1em 2em; text-transform: uppercase; text-decoration: none; cursor: pointer; display: inline-block; border: 2px solid black; color: black; }
.button.white { border-color: white; color: white; }
.button.green { border-color: rgb(58,182,118); color: rgb(58,182,118); }
[class^="col-"] { padding: 5vw 5%; }
.col-1 { width: 8.33%; }
.col-2 { width: 16.67%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.67%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100; }
.color-1 { color: #3AB676; border-color: #3AB676; }
.color-2 { color: #3B7EA6; border-color: #3B7EA6; }
.color-3 { color: #FFB151; border-color: #FFB151; }
.color-4 { color: #FF7B51; border-color: #FF7B51; }
.fa-check { display: block; }
.fa-check::before { color: rgb(58,182,118); margin-right: .5em; }
.flex { display: flex; }
.gray { background: rgb(245,245,245); }
.inverted { background: rgb(64,64,64); color: white; }
.inverted .button { background: rgb(64,64,64); color: white; border-color: white; }
.loading { width: 25px; height: 25px; }
.margin-top-0 { margin-to: 0; }
.panel { box-shadow: 0 2px 4px rgba(0,0,0,.33); }
.panel .panel-header { background: rgb(58,182,118); color: white; padding: 1em 1.5em; }
.panel .panel-header h3 { margin: 0; }
.panel .panel-body { padding: 1em; height: 100%; }
.panel > ul { padding: none !important; margin: 0; }
.panel > ul li:nth-child(even) { background: rgb(245,245,245); }
.panel > ul li { padding: 15px; margin: 0 !important; }
.panel .panel-footer { padding: 1em 1.5em; background: rgb(235,235,235); }
.popup { display: none; position: fixed; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,.75); overflow: auto; }
.popup .panel { background: white; padding: 5vw 5%; max-width: 600px; margin: 0 auto; }
.popup .panel > img { width: 100%; }
.row { display: flex; }
.thumbnail { width: 165px; height: 165px; margin: .5em; padding: .5em; background: white; background: white; box-shadow: 0 2px 5px rgba(0,0,0,.25); display: inline-block; vertical-align: top; cursor: pointer; }
.thumbnail > div { height: 100%; display: flex; align-items: center; justify-content: center; }
.thumbnail img { max-width: 150px; max-height: 150px; }
.toggle-nav { display: none; padding: none; border: none; background: none; color: white; cursor: pointer; float: right; }

/*****************
* Home Sections
******************/

/* hero */
#hero { text-align: center; background: url('/img/home/hero.jpg'); background-size; cover; background-position: center; height: 600px; position: relative; }
#hero .content { color: white; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(58,182,118,.75); padding: 5vw 5%; display: flex; justify-content: center; align-items: center; }
#hero #types { padding: 0; list-style: none; }
#hero #types li { display: inline-block; padding: 0 1em; border-right: 1px solid white; }
#hero #types li:last-child { border-right: none; }

/* about */
#about { line-height: 2em; display: flex; }
#about > div { width: 50%; padding: 5vw 5%; }
#about #icons > div { text-align: center; }
#about #icons > div > div { display: inline-block; margin: 0 .5em; padding: 1em 0; width: 86px; border-radius: 100%; border: 1px solid white; opacity: .5; }
#about #icons > div > i { opacity: .5; font-size: 25px; position: relative; top: -10px; }
#about #icons > div > div > i { font-size: 25px; }
#about #icons > div > div > div { font-size: 10pt; margin-top: -10px; }
#about #icons { text-align: center; }

#packages [class^="col-"] { padding: 0; position: relative; text-align: center; margin: .5em; }
#packages [class^="col-"] ul { text-align: left; padding: 0; }
#packages [class^="col-"] ul li { display: flex; }

#services { display: flex; padding: 2.5%; }
#services > div { padding: 2.5%; }
#services #systems > div { cursor: pointer; border: 1px solid; width: 125px; height: 115px; padding: 1em; margin: .5em; text-align: center; display: inline-block; vertical-align: top; }
#services #systems > div > div { display: flex; align-items: center; height: 100%; justify-content: center; }
#services #systems > div > div > div > i { font-size: 25px; display: block; margin-bottom: .25em; }
#services #systems > div i { font-size: 25px; }

#portfolio { padding: 5vw 5%; }

#imgPopup > .panel { max-width: 1000px; }

#pricing { padding: 5vw 5%; }
#additional-services [class^="col-"] { padding: 5vw 5%; }

#ceo { display: flex; }
#ceo > div { width: 50%; padding: 5vw 5%; }

@media (max-width: 1200px) {
    h1 { font-size: 2em; }
    h2 { font-size: 2em; margin-bottom: .5em; }
    section { display: block !important; }
    section > div { width: 100% !important; }

    #hero { background-position: bottom right; }
    #hero #types { font-size: 10pt; }
    #hero #types li { border: none; padding: 0 .5em; }

    #about #icons > div > div { display: inline-block; margin: 0 .25em; padding: .5em 0; width: 69px; border-radius: 100%; border: 1px solid white; opacity: .5; }
    #about #icons > div > div > i { font-size: 18px; }
    #about #icons > div > div > div { font-size: 9pt; margin-top: -12px; }
    #about #icons > div > i { opacity: .5; font-size: 12.5px; position: relative; top: -5px; }
}

@media (max-width: 1000px) {
    .row { display: inherit; }
    [class^="col-"] { width: 100%; }
}

@media (max-width: 800px) {
    footer { padding: 10% 5%; }
    footer nav { display: inherit; }
    footer nav li { display: inline-block; }
    p .pull-left { float: none; display: block; }
    p .pull-right { float: none; display: block; }

    #header { justify-content: space-between; }
    #header .logo img { width: 150px; }
    #header .phone { font-size: 10pt; margin: 0 1em; }
    #header .toggle-nav { display: inherit !important; }
    #header nav { display: none; }

    #about { display: inherit !important; }
    #about > div { width: 50%; padding: 10% 5%; }

    #services { display: flex; padding: 5% 2.5%; }
    #services > div { padding: 5% 2.5%; }

    #technologies, #platforms { display: none; }

    #ceo > div { padding: 10% 5%; }
}

@media (max-width: 400px) {
    #header .phone { display: none; }
    #phone-small-screen { display: block; }
    .thumbnails .thumbnail, .thumbnails .thumbnail img { width: 125px; background: none; box-shadow: none; }
}
